@{
    ViewData["Title"] = "Home";
}
    <h2>Username: </h2>
<form action="/messageroom" method="POST">
    <input type="text" id="userName" name="userName" required/>
    <input type="submit" id="joinButton" value="Join Room"/>
</form>    



