@model string // username
@{
    ViewData["Title"] = "Chat Room";
}

<h5>Joined as: <b>@Model</b></h4>
<input type="hidden" id="userName" value="@Model">
<textarea style="resize:none;" name="message" id="message"></textarea>
<select id="sendToSelect" name="sendToSelect">
    <option value="">Everyone</option>
</select>
<input type="button" id="sendButton" value="Send Message"/>
<br />
<h6>Messages</h5>
<hr />

<div id="messages"></div>

<script src="~/lib/signalr.js"></script>
<script src="~/js/message.js"></script>
