@model string // username
@{
    Layout = "";
    ViewData["Title"] = "Message Room";
}

<h4>Joined as: <b>@Model</b></h4>
<textarea name="message" id="message"></textarea>
<input type="button" id="sendButton" value="Send Message"/>

<div id="messages"></div>

<script src="~/lib/signalr.js"></script>
<script src="~/js/message.js"></script>
