@page
@model IndexModel
@{
    Layout = "";
    ViewData["Title"] = "Home page";
}
<form action="/messageroom">
    <input type="text" id="userName" required/>
    <input type="submit" id="joinButton" value="Join Room"/>
</form>


